fastapi>=0.73.0
holidays>=0.13
pydantic>=1.9.0
hypercorn>=0.13.2
aiohttp>=3.8.1
setuptools>=58.1.0
beautifulsoup4>=4.10.0
starlette>=0.17.1
pytest>=7.0.1
httpx>=0.22.0
grequests>=0.6.0
gevent>=21.12.0
lxml>=4.8.0
psycopg2-binary>=2.9.3
SQLAlchemy>=1.4.37
SQLAlchemy-Utils>=0.38.2
strawberry-graphql>=0.114.5